html {
	/*background-color: #DADFE1;*/
	font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h5 {
	font-family: 'Nunito Sans';
	font-weight: 700;
}

a {
	text-decoration: none;
	color: inherit;
}

.hidden {
	display: none;
}

.fitimg {
    background-color: orange;
    max-width: 100%;
    box-sizing: border-box;
}

.toc-elem {
    font-family: 'Nunito Sans';
    font-size: 1.4rem;
    letter-spacing: .1rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.subtitle {
    text-transform: uppercase;
    font-family: 'Nunito Sans';
    font-size: 1.4rem;
    letter-spacing: .1rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    font-weight: 600;
    margin-bottom: -5px; 
    margin-left: 3px;
}

.current-page {
	color: gray;
}

.panel {
	padding: 10px;
	margin-top: 2%;
}

.container {
	padding: 2%;
	background-color: #fefdfb;
	margin-left: 18%;
}

.title-flex-container {
    display: flex; 
    align-items: center; 
    justify-content: center; 
    padding: 2.5%;
}

.title-mad-logo {
    height: 100px; 
    margin-right: 3%;
}

.card-container {
    display: flex; 
    margin-top: 2%;
    flex-wrap: wrap;
}

.card-container div {
    margin-right: 6%;
    margin-bottom: 3%;
}

.card-container div img {
    height: 150px;
}
